<div class="modal-body">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone no:</strong>
  <%= @user.phone_no %>
</p>
<div class="modal-footer">
   <button type="button" class="btn btn-sm btn-dark" data-bs-dismiss="modal">Close</button>
</div>
</div>
